<div id="main">

<!-- Post -->
    <section class="post">   
        <%= form_for @post, url: {action: "update"}, html: {class: "nifty_form"} do %>
            <div class="field">
                <label for="post[title]">Title</label>
                <input type="text" name="post[title]" value="<%= @post.title %>">
            </div>
            <div class="field">
                <label for="post[featured]">Featured</label>
                <select name="post[featured]">
                    <% if @post.featured %>
                        <option value="1" selected>Active</option>
                        <option value="0">Deactivated</option>
                    <% else %>
                        <option value="1">Active</option>
                        <option value="0" selected>Deactivated</option>
                    <% end %>
                </select>
            </div>
            <div class="field">
                <label for="post[img_url]">Img Url</label>
                <input type="text" name="post[img_url]" value="<%= @post.img_url %>">
            </div>
            <div class="field">
                <label for="post[slug]">Slug</label>
                <input type="text" name="post[slug]" value="<%= @post.slug %>">
            </div>
            <div class="field">
                <label for="post[content]">Content</label>
                <textarea name="post[content]"><%= @post.content %></textarea>
            </div>
            <div class="field">
                <button type="submit">Save</button>
            </div>
        <% end %>
    </section>
</div>